:root {
    --bg-dark: #050a0e;
    --card-dark: #121b23;
    --accent: #ff4757;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: white;
    min-height: 100vh;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    max-width: 1440px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

.logo {

}

.search-bar {
    display: flex;
    gap: 10px;
    background: #1b2631;
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid #2c3e50;
}

.search-bar input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 200px;

}

.search-bar button {
    background: var(--accent);
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    padding: 40px 5% 120px 5%;
    max-width: 1440px;
    margin: 0 auto;
}

.pokemon-card {
    background-color: var(--card-dark);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    overflow: hidden;
    position: relative;
    border: 1px solid #2c3e50;
}

.pokemon-card:hover {
    transform: translateY(-8px);
}

.card-top {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-top span {
    position: absolute;
    top: 10px;
    left: 15px;
    font-weight: bold;
    opacity: 0.3;
}

.card-top img {
    height: 100px;
    object-fit: contain;
}

.pokemon-card h3 {
    margin: 15px 0 5px 0;
    text-transform: capitalize;
}

.types-container {
    padding-bottom: 20px;
}

.type-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 12px;
    margin: 0 4px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0,0,0,0.2);
}

.load-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(transparent, var(--bg-dark) 30%);
    display: flex;
    justify-content: center;
    z-index: 100;
}

#load-more-btn{
    background: var(--accent);
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 71, 87, 0.3);
}

.overlay {

}

.loading-screen {

}